<launch>
  <arg name="mav_name" default="atlantik_solar"/>
  <arg name="world_name" default="zurich"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="false"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="use_kinematics" default="true"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="false" />
    <arg name="gui" value="true" />
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_fixed_wing.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/$(arg mav_name)_base.xacro" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="use_kinematics" value="$(arg use_kinematics)"/>
    </include>

    <node name="hil_sensors_interface" pkg="rotors_hil_interface" type="rotors_hil_sensors_interface" output="screen">
      <param name="gps_topic" value="gps" />
      <param name="imu_topic" value="imu" />
      <param name="odometry_topic" value="ground_truth/odometry" />
      <param name="hil_mode_topic" value="hil_mode" />
      <param name="mavlink_pub_topic" value="/mavlink/to" />
    </node>

    <node name="hil_control_interface" pkg="rotors_hil_interface" type="rotors_hil_control_interface" output="screen">
      <param name="mavlink_sub_topic" value="/mavlink/from" />
      <param name="actuators_pub_topic" value="gazebo/command/motor_speed" />
    </node>

    <node name="rotors_gui" pkg="rqt_rotors" type="rqt_rotors" output="screen" />
  </group>
</launch>
