<launch>
  <arg name="uav_name" default="techpod"/>
  <arg name="world_name" default="yosemite"/>
  <arg name="enable_logging" default="true"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg uav_name)"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/>
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="true"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="$(arg uav_name)">
    <rosparam command="load" file="$(find rotors_gazebo)/resource/fixed_wing/$(arg uav_name).yaml" />
    <rosparam command="load" file="$(find rotors_gazebo)/resource/fixed_wing/aerodynamic_params_$(arg uav_name).yaml" />

    <include file="$(find rotors_gazebo)/launch/spawn_fixed_wing.launch">
      <arg name="uav_name" value="$(arg uav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/$(arg uav_name)_base.xacro" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)" />
      <arg name="wait_to_record_bag" value="true" />
      <arg name="joy_input" value="true" />
      <!-- Cylinder and Hemicyl-->
      <arg name="x" value="-1990" />
      <arg name="y" value="-1990" />
      <arg name="z" value="0.15" />
      <!-- Uetliberg
      <arg name="x" value="1890" />
      <arg name="y" value="1933" />
      <arg name="z" value="0.15" />
      <arg name="Y" value="-1.5707" />-->
      <!-- Zueri
      <arg name="x" value="-200" />
      <arg name="y" value="7690" />
      <arg name="z" value="0.15" />
      <arg name="Y" value="-1.5707" />-->
      <!-- Zuerifalse
      <arg name="x" value="495" />
      <arg name="y" value="-350" />
      <arg name="z" value="0.15" />
      <arg name="Y" value="3.141593" />-->
      <!-- Yosemite
      <arg name="x" value="-100" />
      <arg name="y" value="0" />
      <arg name="z" value="0.15" />-->
    </include>

    <node name="joy_node" pkg="joy" type="joy_node" />

    <node name="rotors_joy_interface" pkg="rotors_joy_interface" type="rotors_joy_interface" output="screen">
      <param name="is_fixed_wing" value="true" />
      <param name="axis_thrust_" value="2" />
      <param name="max_roll" value="1.0" />
      <param name="max_pitch" value="1.0" />
      <param name="max_yaw_rate" value="1.0" />
    </node>
  </group>
</launch>
