<launch>
  <arg name="mav_name" default="firefly"/>
  <arg name="world_name" default="basic"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg mav_name)"/>
  <arg name="mount_gps" default="true"/>
  <arg name="use_advanced_gps_noise" default="true"/>

  <group if="$(arg mount_gps)">
    <group if="$(arg use_advanced_gps_noise)">
      <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find crates_gnss)/share/example/resources"/>
      <include file="$(find crates_gnss)/launch/rtklib.launch">
        <arg name="conf" default="$(find crates_gnss)/share/example/conf/code_autonomous.conf" />
      </include>
    </group>
  </group>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world"/>
    <!-- <arg name="debug" value="true" /> -->
    <arg name="paused" value="false" />
    <arg name="gui" value="false" />
    <arg name="verbose" default="true" />
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/$(arg mav_name)_base.xacro" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="mount_gps" default="$(arg mount_gps)"/>
      <arg name="use_advanced_gps_noise" default="$(arg use_advanced_gps_noise)"/>
    </include>
  </group>
</launch>
