<?xml version="1.0"?>
<model>
  <name>Zurich</name>
  <version>1.0</version>
  <sdf version='1.4'>zurich.sdf</sdf>

  <author>
   <name>Pavel Vechersky</name>
   <email>pvechersky@gmail.com</email>
  </author>

  <description>
    A snapshot of Zurich from above taken from Google Earth.
  </description>
</model>
