<?xml version="1.0"?>

<model>
  <name>Zueri</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Nicolas El Hayek</name>
    <email>nelhayek@student.ethz.ch</email>
  </author>

  <description>
    Model of Uetliberg over lake Zurich.
  </description>

</model>
