<?xml version="1.0"?>

<model>
  <name>Grand Canyon</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Pavel Vechersky</name>
    <email>pvechersky@gmail.com</email>
  </author>

  <description>
    Part of the Grand Canyon terrain.
  </description>

</model>
